good {
  background: var(--token-color-red);
  border-color: var(--token-color-green);
  font-weight: var(--token-font-weight, 400);
  column-rule-color: var(--token-color-red-hex, #F00);
  outline: 1px solid var(--token-color-blue-lightdark, light-dark(lightblue, darkblue));
  color: var(--token-color-blue-lightdark);
}

bad {
  color: var(--token-color-blue, green);
  font-family: var(--token-font-family, a, b, c, d);
  box-shadow: var(--token-box-shadow, 1px 2px 3px 4px rgba(2, 4, 6 / .8));
}
