node_modules
design-tokens-lsp
bin
extensions/**/*.wasm
extensions/vscode/README.md
coverage
**/*.db
**/cargo-target
**/target
**/venv
*.xcodeproj
**/dist
main.js
.vscode
vendor/**/*.h
vendor/**/*.c
report.xml
tools/lsp-bench/lsp-bench
