node_modules
bin
extensions/**/*.wasm
extensions/vscode/README.md
coverage/**/*
*.out
**/*.db
**/cargo-target
**/target
**/venv
*.xcodeproj
**/dist
main.js
.vscode
vendor/**/*.h
vendor/**/*.c
report.xml
tools/lsp-bench/lsp-bench
*.test
/design-tokens-language-server
